<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Ajouter relation</title>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>

</head>

<body>

<header class="navbar navbar-expand-lg navbar-dark">

    <label class="mt-2 ms-5 font-weight-bold h5">
        <a th:href="@{/profile/}">Pay My Buddy</a><span class="logo_com font-weight-bold h5" style="color: white">.com</span>
    </label>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav m-auto mt-2 mt-lg-0">

            <li class="nav-item ">
                <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{profile}">
                    <i class="fa-solid fa-pencil"></i> Profil</a>
            </li>

            <li class="nav-item ">
                <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{addRelationship}">
                    <i class="fa-duotone fa-solid fa-user-tie"></i>Ajouter relation</a>
            </li>

            <li class="nav-item ">
                <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{addBalance}">
                    <i class="fas fa-money-bill-wave"></i> Recharger</a>
            </li>

            <li class="nav-item ">
                <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{transaction}">
                    <i class="fa-solid fa-eye"></i>Transférer</a>
            </li>

            <li class="nav-item">
                <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/historic}">
                    <i class="fas fa-history"></i> Historique
                </a>
            </li>

        </ul>

        image profile
        <img class="rounded-circle me-3" height="50px" width="50x" th:if="${user.name!=null}" th:src="@{${user?.getProfileImageUrl()}}"/>

        <label th:if="${user.name != null && user.email != null}"
               th:text="${user.name}"
               class="nav-item nav-link px-2 me-3">
        </label>


        <button class="myBtn-light me-5" onclick="window.location.href='/logout'">Se déconnecter</button>
    </div>
</header>

<section class="section">

    <!-- menu lateral-->
    <div class="sidenav px-5"></div>

    <div class="myForm-add">

        <form th:action="@{/addRelationship/add}" method="post">
            <div class="box-profile">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div th:if="${relationSuccessMessage}" class="alert alert-success" role="alert">
                                <p th:text="${relationSuccessMessage}"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                                <p th:text="${errorMessage}"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-profile-group">
                            <label>Chercher une ralion</label>
                            <input class="form-control-profile" placeholder="Saisir une addresse e-mail" name="email"
                                   type="email"
                                   required th:value="${email}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="form-group mt-3 col-md-12">
                        <button type="submit" class="myBtn py-3">Ajouter</button>
                    </div>
                </div>
            </div>
        </form>

        <table class="table-add">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#sets.isEmpty(relations)}">
                <td colspan="3">Vous n'avez pas encore de relations.</td>
            </tr>
            <tr th:each="relation : ${relations}">
                <td th:text="${relation.name}"></td>
                <td th:text="${relation.email}"></td>
                <td>
                    <!-- Bouton Supprimer -->
                    <form th:action="@{/addRelationship/remove}"
                          method="post"
                          style="display: inline-block; margin-right: 10px;"
                          onsubmit="return confirm('Voulez-vous vraiment supprimer cette relation ?');">
                        <input type="hidden" name="targetEmail" th:value="${relation.email}">
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i> Supprimer
                        </button>
                    </form>

                    <!-- Formulaire de Modification -->
                    <form th:action="@{/addRelationship/update}" method="post" style="display: inline-block;">
                        <input type="hidden" name="oldConnectionEmail" th:value="${relation.email}">

                        <div class="input-group" style="width: 250px;">
                            <input type="email" name="newConnectionEmail"
                                   class="form-control form-control-sm " style="padding: 0.2px; border-radius: 3px;"
                                   placeholder="Nouvel email" required
                                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                            <div class="input-group-append" style="margin: auto 5px">
                                <button type="submit" class="btn btn-warning btn-sm">
                                    <i class="fas fa-edit" ></i> Modifier
                                </button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</section>

</body>
</html>