<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Transférer</title>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>

</head>

<body>

<header class="navbar navbar-expand-lg navbar-dark">

    <label class="mt-2 ms-5 font-weight-bold h5">
        <a th:href="@{/transaction/}">Pay My Buddy</a><span class="logo_com font-weight-bold h5" style="color: white">.com</span>
    </label>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav m-auto mt-2 mt-lg-0">

            <li class="nav-item ">
                <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{profile}">
                    <i class="fa-solid fa-pencil"></i> Profil</a>
            </li>

            <li class="nav-item ">
                <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{addRelationship}">
                    <i class="fa-duotone fa-solid fa-user-tie"></i>Ajouter relation</a>
            </li>

            <li class="nav-item ">
                <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{addBalance}">
                    <i class="fas fa-money-bill-wave"></i> Recharger</a>
            </li>

            <li class="nav-item ">
                <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{transaction}">
                    <i class="fa-solid fa-eye"></i>Transférer</a>
            </li>

            <li class="nav-item">
                <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/historic}">
                    <i class="fas fa-history"></i> Historique
                </a>
            </li>

        </ul>

        image profile
        <img class="rounded-circle me-3" height="50px" width="50x" th:if="${user.name!=null}"
             th:src="@{${user?.getProfileImageUrl()}}"/>

        <label th:if="${user.name != null && user.email != null}"
               th:text="${user.name}"
               class="nav-item nav-link px-2 me-3">
        </label>

        <button class="myBtn-light me-5" onclick="window.location.href='/logout'">Se déconnecter</button>
    </div>
</header>

<section class="section">

    <!-- menu lateral-->
    <div class="sidenav px-5"></div>

    <div class="myForm-transfer">

        <!-- Affichage des messages -->
        <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

        <div class="balance-display mb-3">
            <h4>Solde actuel:
                <span th:text="${currencySymbols.get('EUR')} + ' ' + ${#numbers.formatDecimal(currentBalance,1,2)}"></span>
            </h4>
        </div>

        <form th:action="@{/transaction}" method="post">
            <div class="box-transfer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline-transfer">
                            <select class="form-control-transfer" name="receiverEmail" required>
                                <option value="">Sélectionner un contact</option>
                                <option th:each="contact : ${connections}"
                                        th:value="${contact.email}"
                                        th:text="${contact.name + ' (' + contact.email + ')'}">
                                </option>
                            </select>

                            <input class="form-control-transfer" placeholder="Description"
                                   name="description" type="text" required/>

                            <input id="amount" class="form-control-transfer" placeholder="Montant €"
                                   name="amount" type="number" step="0.01" min="0.01" required/>

                            <select name="currency" class="form-control-transfer" required>
                                <option value="">Sélectionnez une devise</option>
                                <option th:each="currency : ${supportedCurrencies}"
                                        th:value="${currency}"
                                        th:text="${currency} + ' (' + ${currencySymbols.get(currency)} + ')'">
                                </option>
                            </select>

                            <button type="submit" class="myBtn-pay py-3">Payer</button>

                        </div>
                    </div>
                </div>
            </div>
        </form>

        <table class="table">
            <thead>
            <tr>
                <th>Contact</th>
                <th>Description</th>

                <th>
                    <a th:href="@{${requestURI}(
                    page=0,
                    size=${pageSize},
                    sortField='amount',
                    sortDirection=${sortField == 'amount' ? (sortDirection == 'asc' ? 'desc' : 'asc') : 'desc'}
                )}" class="sortable-header">
                        Montant
                        <span th:if="${sortField == 'amount'}">
                        <span th:text="${sortDirection == 'asc'} ? '↑' : '↓'"></span>
                    </span>
                    </a>
                </th>

                <th>Frais</th>

                <th>
                    <a th:href="@{${requestURI}(
                    page=0,
                    size=${pageSize},
                    sortField='createdAt',
                    sortDirection=${sortField == 'createdAt' ? (sortDirection == 'asc' ? 'desc' : 'asc') : 'desc'}
                )}" class="sortable-header">
                        Date
                        <span th:if="${sortField == 'createdAt'}">
                        <span th:text="${sortDirection == 'asc'} ? '↑' : '↓'"></span>
                    </span>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction : ${transactions.content}">
                <td th:text="${transaction.receiver.name}"></td>
                <td th:text="${transaction.description}"></td>

                <td th:text="${currencySymbols.get(transaction.currency)} + ' ' + ${#numbers.formatDecimal(transaction.amount, 1, 2)}"></td>
                <td th:text="${currencySymbols.get(transaction.currency)} + ' ' + ${#numbers.formatDecimal(transaction.fee, 1, 2)}"></td>

                <td th:text="${#temporals.format(transaction.createdAt, 'dd/MM/yyyy HH:mm')}"></td>
            </tr>
            </tbody>
        </table>

        <!-- Pagination -->
        <div class="pagination">
            <span th:each="i : ${#numbers.sequence(0, transactions.totalPages - 1)}">
                <a th:href="@{${requestURI}(
                       page=${i},
                       size=${pageSize},
                       sortField=${sortField},
                       sortDirection=${sortDirection}
                   )}"
                   th:text="${i + 1}"
                   th:class="${i == transactions.number} ? 'active' : ''"></a>
            </span>
        </div>

    </div>

</section>

<script type="text/javascript" th:src="@{/js/main.js}"></script>

</body>
</html>