<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Transférer</title>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>

</head>

<body>

<header class="navbar navbar-expand-lg navbar-dark">

    <label class="mt-2 ms-5 font-weight-bold h5">
        <a th:href="@{/profile/}">paymybuddy</a><span class="logo_com font-weight-bold h5" style="color: white">.com</span>
    </label>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav m-auto mt-2 mt-lg-0">

            <li class="nav-item ">
                <!--                <a sec:authorize="hasAuthority('User')" class="nav-link" th:href="@{/transaction/}">-->
                <a class="nav-link" th:href="@{transaction}"><i class="fa-solid fa-eye"></i>Transférer</a>
            </li>
            <li class="nav-item ">
                <!--                <a sec:authorize="hasAuthority('User')" class="nav-link" th:href="@{/profile/}">-->
                <a class="nav-link" th:href="@{profile}"><i class="fa-duotone fa-solid fa-user"></i> Profil</a>
            </li>

            <li class="nav-item ">
                <!--                <a sec:authorize="hasAuthority('User')" class="nav-link" th:href="@{/profile/add}">-->
                <a class="nav-link" th:href="@{addRelationship}"><i class="fa-duotone fa-solid fa-user-tie"></i>Ajouter relation</a>
            </li>

        </ul>

        <!-- image profile-->
        <!--        <img class="rounded-circle me-3" height="50px" width="50x" th:if="${user.photosImagePath!=null}" th:src="@{${user?.photosImagePath}}"/>-->

        <!--        <label th:if="${user.firstName != null && user.lastName != null}" -->
        <!--               th:text="${user.firstName+' '+user.lastName}"-->
        <!--               class="nav-item nav-link px-2 me-3">-->
        <!--        </label>-->

        <!--        <label th:unless="${user.firstName != null && user.lastName != null}" th:text="${username}"-->
        <!--               class="nav-item nav-link px-2 me-3"></label>-->

        <button class="myBtn-light me-5" onclick="window.location.href='/logout'">Se déconnecter</button>
    </div>
</header>

<section class="section">

    <!-- menu lateral-->
    <div class="sidenav px-5"></div>

    <div class="myForm-transfer">
        <form th:action="@{/register}" th:object="${user}" method="post">
            <div class="box-transfer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-inline-transfer">

                            <select class="form-control-transfer" name="type" id="type">
                                <option value="">Sélectionner une relation</option>
                                <option value="John">John</option>
                                <option value="Fred">Fred</option>
                                <option value="Laure">Laure</option>
                                <option value="Ludo">Ludo</option>
                                <option value="Michel">Michel</option>
                            </select>

                            <input class="form-control-transfer" placeholder="Description" name="description" type="text" required/>

                            <input class="form-control-transfer" placeholder="0€" name="amount" type="number" required/>

                            <button type="submit" class="myBtn-pay py-3">Payer</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <table class="table">
            <thead>
            <tr>
                <th>Mes Transactions <br>Relations</br></th>
                <th>Description</th>
                <th>Montant</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Laure-Anne</td>
                <td>Restaurant</td>
                <td>10€</td>
            </tr>
            <tr>
                <td>Clara</td>
                <td>Voyage</td>
                <td>25€</td>
            </tr>
            <tr>
                <td>Luc</td>
                <td>Billets de cinéma</td>
                <td>8€</td>
            </tr>
            </tbody>
        </table>

    </div>

</section>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>